@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

body {
    background-color: #6E5C62;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

h1 {
    color: white;
    text-align: center;
    font-size: 50;
    margin-bottom: 5px;
}

div {
    user-select: none;
}

#first-row, .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-cell {
    display: flex;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 60;
    padding: 10px;
    border-radius: 7px 7px 7px;
    border: 7px solid #4C4347;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.open-cell:hover {
    cursor: pointer;
}

.cell {
    display: flex;
    width: 50px;
    height: 50px;
    color: white;
    margin: 3px;
    padding: 10px;
    font-size: 60;
    border-radius: 7px 7px 7px;
    border: 7px solid #615458;
    background-color: #615458;
    justify-content: center;
    align-items: center;
}

.correct-position {
    border: 7px solid #3AA394;
    background-color: #3AA394;
}

.correct-letter {
    border: 7px solid #D3AD69;
    background-color: #D3AD69;
}

.incorrect {
    border: 7px solid #312A2C;
    background-color: #312A2C;
}

#warning {
    display: flex;
    width: 30%;
    height: 40px;
    background-color: #0099FD;
    color: white;
    font-size: 25;
    border-radius: 7px 7px 7px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 400;
    visibility: hidden;
}

#selected-cell {
    box-shadow: 0px -5px 0px #4C4347 inset;
}

#keyboard {
    margin-top: 3rem;
}

.key-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2rem;
}

.key, .selected-key {
    display: flex;
    width: 55px;
    height: 75px;
    font-size: 30;
    justify-content: center;
    align-items: center;
    border-radius: 7px 7px 7px;
    margin: 0.2rem;
    color: white;
    background-color: #4C4347;
}

.selected-key {
    background-color: #594B4F;
}

.correct-key {
    background-color: #3AA394;
}

.correct-letter-key {
    background-color: #D3AD69;
}

#backspace-key {
    width: 80px;
}

#enter-key {
    width: 150px;
}

#backspace-key, #enter-key {
    margin-left: 1rem;
}

.animate__animated.animate__pulse {
    --animate-duration: 0.2s;
}

.animate__animated.animate__bounce {
    --animate-duration: 0.2s;
}

.animate__animated.animate__zoomIn {
    --animate-duration: 0.5s;
}

.animate__animated.animate__zoomOut {
    --animate-duration: 1s;
}